# IntelliJ
**/.idea/
**/*.iml

# Maven
**/target/

# Node / Angular
**/node_modules/
**/.angular/
**/dist/
**/.cache/

# Optional tooling
**/.gemini/
**/.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
**/.env
**/application-local.properties
